.profile-card .mdc-button {
  padding: 22px 19px;
}
.profile-card .changePasswordButton.mdc-button {
  width: 171px;
  margin-right: 5px;
  background-color: #cfd8e7;
  border-radius: 0;
  color: #1a5eff;
}
.logoutButton {
  width: 98px;
}
