<div class="toolbarContainer">
  <button
    mat-icon-button
    class="settingsButton"
    aria-label="Example icon-button with a menu"
  >
    <mat-icon class="toolbarButtons">settings</mat-icon>
  </button>
  <button mat-icon-button aria-label="Example icon-button with a menu">
    <mat-icon class="toolbarButtons no_notification">notifications</mat-icon>
  </button>

  <button
    mat-icon-button
    class="profileButton"
    aria-label="Example icon-button with a menu"
    routerLink="/account"
  >
    <mat-icon class="toolbarButtons">account_circle</mat-icon>
  </button>
</div>
